#menu{
width:1.7em;
}

@media only screen and (min-width: 640px) and (max-width:1024px){
  #menu{
    display:none;
  }
  .main-nav{
    display:flex;
  }
  #top h1{
    font-size:5em;
  }
  li{
    display:inline;
  }
}

@media only screen and (min-width: 1025px){
  #menu{
    display:none;
  }
  .main-nav{
    display:flex;
  }
  #top h1{
    font-size:8em;
  }

  li{
      display:inline;
  }
}
