body{
  /*background-color: orange;*/
}

#top {
  background-color:#00DE6D;
  display:flex;
  align-content: center;
}

#top h1{
  margin:0px;
  padding:1%;
  display: inline-flex;
  font-family: 'Berkshire Swash', cursive;
  font-size: 6.7em;
}

h1 {
  color:#1B222B;
}
#lefty{
  position: relative;
}
nav{
  float: left;
  /*position:absolute;*/
  width: 15%;
  height: 100%;
  background-color: #FFF3C5;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width:90%;
  border-radius:50%;
}

a img{
  width:2em;
  border-radius:0px;
}

footer{
  background-color:#00DE6D;
  clear:left;
}
