body{
  /*background-color: orange;*/
}

main{
width:90%;
margin:auto;
}

#top {
  background-color:#00DE6D;
  display: flex;
  justify-content: space-between;
}

#top h1{
  margin:0px;
  padding:1%;
  font-family: 'Berkshire Swash', cursive;
  font-size: 6.7em;
  color:#1B222B;
}

h1 {
  color:#1B222B;
}

nav{
  background-color: #FFF3C5;
  display:flex;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
.container {
  width:10%;
}
#profile {
  width:100%;
  border:4px, solid, #1B222B;
  border-radius:50%;
}

a img{
  width:2em;
  border-radius:0px;
}

footer{
  background-color:#00DE6D;
}
